form {
    width: 100%;

    .row {
        padding: 0.5rem;
        @include flex(column, flex-start, flex-start);

        label {
            font-size: 0.8rem;
            margin-bottom: 0.3rem;
        }

        input {
            border: 1px solid $regular-font-color;
            border-radius: 0.3rem;
            font-size: 0.9rem;
            padding: 0.5em 1em;
            width: 100%;
            transition: 400ms all ease-in-out;
        }
        
        input:focus {
            outline: none;
        }

        &.end {
            flex-direction: row;
            justify-content: flex-end;
        }
    }

}
