<div class="container" appLoadFade>
    <div class="row">
        <div class="col-100">
            <h1 class="flex j-between a-center">{{title}}  <button class="outline" routerLink="../crear-cliente">Crear cliente</button></h1>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>CIF</th>
                    <th>Localidad</th>
                    <th></th>
                </tr>
                <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.cif}}</td>
                    <td>{{cliente.localidad}}</td>
                    <!-- <td><b routerLink="../visualizar-cliente/{{cliente.id}}">Ver</b></td> -->
                    <!-- Opción con parámetros de consulta -->
                    <td><b routerLink="../visualizar-cliente" [queryParams]="{id: cliente.id}">Ver</b></td>
                </tr>
            </table>
        </div>
    </div>
</div>
